@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-900 font-sans antialiased;
}

/* Custom Scrollbar untuk tampilan lebih bersih di tablet */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1; 
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; 
}

/* Animasi Kustom */
@layer utilities {
  .animate-bounce-slow {
    animation: bounce 3s infinite;
  }
}
